# Example Env Configuration
# Copy this file to .env and adjust variables to match your configuration.

# Grace period in seconds (e.g., 7 days = 604800)
GRACE_PERIOD_SECOND=604800

# Company Configurations (JSON string containing credentials and endpoints for each company)
# JSON Schema details:
# {
#   "32_char_company_hex_key": {
#     "grant_type": "client_credentials",
#     "client_id": integer,
#     "client_secret": "string",
#     "token_api_url": "string (url)",
#     "attendance_api_url": "string (url)"
#   }
# }
COMPANY_CONFIG={"dummycompanykey0000000000000001":{"grant_type":"client_credentials","client_id":3,"client_secret":"dummy_client_secret_xyz123","token_api_url":"https://dummy.app.example.com/auth/api/oauth/token","attendance_api_url":"https://dummy.app.example.com/api/attendance-raw/client/storage-data"}}
